
//顏色變數

$white : #FFFFFF;
$grey-100:#F5F5F5;
$grey-200:#EAEAEA;
$grey-300:#A0A0A0;
$grey-400:#666666;
$grey-500:#333333;

$primary-100:#FAF7F5;
$primary-200:#DCD3CE;
$primary-300:#B5A39A;
$primary-400:#6B5A52;