//按紐(橢圓)
.cta {
    background-color: #6B5A52;
    border-radius: 100px;
    border: none;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
    &:hover {
        background-color: #B5A39A;
        transition: all 0.2s ease-in-out;
    }
}

//按鈕(方形)
.btn-hover {
    background-color: $primary-100;
    color: $primary-400;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $primary-400;
        color: #FFFFFF;
        transition: all 0.2s ease-in-out;
    }
}

//資訊展開icon-i(會員中心)
.i-icon {
    height: 20px;
    width: 20px;
    color: $white;
    background: $grey-200;
    border-radius: 50%;
    font-size: 16px;
    transition: all 0.2s;
    &:hover {
        background: $grey-300;
        transition: all 0.2s;
    }
}

//頁籤樣式
.nav-tabs {
    button { //未被選取 border-bottom
        border-bottom: 5px solid $grey-200 !important;
        width: 50%;
    }
    .nav-link { //未被選取 文字顏色
        color: $grey-300;
        font-size: 24px;
    }
    .nav-item.show .nav-link , .nav-link.active{ //被選取狀態樣式
        border-bottom: 5px solid $primary-300 !important;
        color: $grey-500 !important;
    }
}

//收藏icon位置
.collect-icon {
    position: absolute;
    top: 6px;
    right: 18px;
}

//社群icon
//footer
.social-icon {
    color:$primary-400;
    transition: all 0.2s ease-in-out;
    width: 40px;
    height: 40px;
    &:hover {
        border:1.5px solid #6B5A52;
      transition: all 0.2s ease-in-out;
    }
    .fa-facebook::before {
        margin-left: 2.5px;
    }
    .fa-instagram::before {
        margin-left: 2.5px;
    }
  }

//Tag樣式
.tag {
    font-size: 12px;
    font-weight: bold;
    color: $primary-400;
    padding: 4px 12px;
    border-radius: 100px;
    border: 1.5px solid $primary-400;
    transition: all 0.2s ease-in-out;
    &:hover , &:active {
        background-color: $primary-400;
        color:$white;
        transition: all 0.2s ease-in-out;
    }
}