//Banner
.detailPage-banner {
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipNli5LhLqUQ_idAkCCZAO3NAU7DMVn2yjDY_9Pv=s1360-w1360-h1020);
    max-width: 2600px;
    height: 30vw;
    background-size: cover;
    background-position: 50% 50%;
}

//地圖
.map-photo {
    width: 100%;
    height: 300px;
    background-color: $grey-100;
}

//跑馬燈
.marquee {
    width: 100%;
    .view {
        width: 100%;
        overflow: hidden;
    }
    .pic-container {
        display: flex;
        // animation: marquee 100s infinite linear;
        img {
            height: 250px;
            width: 250px;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}

@keyframes marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-(19% * 10));
    }
}

//燈箱
.lightbox {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000066;
    z-index: -10;
    opacity: 0;
    img {
        border-radius: 12px;
        border: 4px solid #ffff;
    }
}
.lightbox:target {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
//燈箱右上叉叉
.btn-close {
    top: 20px;
    right: 20px;
}

//評論區
//高度
.comment-container {
    height: 800px;
}

//照片縮圖
.comment-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 50%;
}

//新增我的評論視窗

//加入收藏按鈕
.like-btn {
    background-color: $primary-300;
    color: $white;
    &:hover {
        background-color: $primary-400;
        color: $white;
    }
    &:active {
        background-color: $primary-400;
        color: $white;
    }
}
.like-added {
    background-color: $primary-400;
    color: $white;
}

//增加刪除標籤-動態樣式(我的評論)
.delete-tag {
    background-color: $white;
    color: $primary-400;
    cursor: pointer;
}

.add-tag {
    background-color: $primary-400;
    color: $white;
    pointer-events:none;
}
