section{
    .container{
        .forgot-password{
            padding: 100px 0;
            background-color: #FAF7F5;
            h2{
                text-align: center;
                margin-bottom: 30px;
                color: #6B5A52;
            }
            form{
                width: 60%;
                margin: 0 auto;
                border: 3px solid #6B5A52;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px 0;
                .content{
                    width: 50%;
                    .forget-label{
                        display: block;
                        font-size: 20px;
                        font-family: Noto Sans TC;
                        margin-bottom: 10px;
                    }
                    .forget-input{
                        width: 100%;
                        margin-bottom: 30px;
                        padding: 10px;
                        font-size: 18px;
                        border: 2px solid #DCD3CE;
                        border-radius: 5px;
                    }
                    .forget-input:focus{
                        border: 2px solid #B5A39A;
                        outline: 0;
                    }
                    ::placeholder{
                        color: #DCD3CE;
                    }
                    .send-verification-button{
                        width: 50%;
                        padding: 8px 0;
                        font-size: 18px;
                        border: 0;
                        border-radius: 5px;
                        background-color: #6B5A52;
                        color: #FFFFFF;
                        margin-bottom: 30px;
                        margin-left: 95px;
                    }
                    .send-verification-button:hover{
                        opacity: 0.8;
                    }
                    .resetPassword-button{
                        display: block;
                        text-align: center;
                        background: #6B5A52;
                        color: #FFFFFF;
                        padding: 10px;
                        font-size: 18px;
                        border-radius: 5px;
                    }
                    .resetPassword-button:hover{
                        opacity: 0.8;
                    }
                }
                .checkCode{
                    width: 70%;
                    display: flex;
                    justify-content: space-evenly;
                    margin-bottom: 30px;
                    .code-input{
                        width: 12%;
                        text-align: center;
                        padding: 10px 0;
                        border-radius: 20px;
                        background-color: #FAF7F5;
                        border:2px solid #B5A39A;
                    }
                }
            }
        }
    }
}