//封面圖片
.user-cover {
    background-image: url(../../assets/images/memberPage/user-cover2.jpeg);
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cover-height {
    height: 550px;
}

//個人資訊
.user-edit-icon {
    top: 12px;
    right: 88px;
}

//頭貼
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 10%;

}

//積分條
.score-box {
    height: 24px;
    width: 120px;
    border-left: 96px solid #f0e67d;
    z-index: 1;
}

//積分條文字
.score-box-text {
    z-index: 2;
    top: 0;
    left: 10px;
}

//積分說明表
.score-sheet {
    display: none;
}

.score-sheet-open:hover .score-sheet {
    display: block;
    top: -240px;
    left: 120%;
    width: 500px;
}

//積分條展開資訊
.score-imformation:hover::after {
    position: absolute;
    content: "差21積分可以成為Foodie#探險家！";
    font-size: 16px;
    color: $grey-500;
    width: 700px;
    padding-left: 300px;
}

//我的評論
.comment-user-photo {
    background-image: url(./images/memberPage/avatar.jpeg);
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.comment-photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 36px;
}

//我的收藏 圖片高度
.collect>div{
    height: 200px;
}